body {
    margin: 0;
    width:600px;
    margin: auto;
    font-family: 'Smythe', cursive;
    border:2px solid black;
} 

.brand{
    background-image: url(images/brand.png);
    background-size:100%;
    height: 165px;
    /*spacing between menu*/
    margin-bottom: 50px;
}

.brand-title , .brand-slogans{
    color: white;
    font-weight: 400;
    margin: 0;
}
.brand-title{
    font-size:39px;
    padding:25 0 10 40;
}

.brand-slogans{
    margin-top:0px;
    padding:0 0 0 40;
    font-size:22px;
}

.menu{
    display: flex;
    margin-bottom: 15px;
}

.menu-img{
    width:70px;
    height:90px;
    padding:30 30 30 40
}

.product , .product-materials , .product-price{
    margin: 0px;
}

.product{
    margin-top: 15px;
    font-size:28px;
    padding:15 0 5 5;
}

.product-materials{
    color:#8B8B8B;
    font-size:16px;
    padding:0 0 5 5;
}

.product-price{
    padding:10 0 5 5;
    font-size:20px;
}

hr {
    width:500px;
    margin:0 auto;
    color: #D2D2D2;
}

.btn-bg{
    width: 50px;
    height: 50px;
    border:2px solid #DEDEDE;
    border-radius: 50%;
    margin: 50 0 50 200;
    display:flex;
}

.addProduct-Btn{
    margin: 18 auto;
    display:none;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.container{
    width:150px
}

.order{
    margin: 40px;
}

.remove{
    color: #BBBBBB;
    font-size:18px;
    border:none;
    background-color: white;
    cursor: pointer;
}

.payment-title{
    text-align: center;
    font-size:28px;
    font-weight: 400;
    display:none;
}
.order-product,.totalPrice-title{
    font-size:28px;
    font-weight: 400;
    width:450px;
    padding-left:10px;
}

.order-list{
    display:flex;
}


.order-price,.total-price{
    margin: auto;
    font-size:20px;
}

.complete-order{
    display: flex;
}

.com-btn{
    width:500px;
    height:60px;
    margin: 10 auto 40;
    background-color: #16DB99;
    color: white;
    font-size:16px;
    font-weight: 700;
    font-family: 'Verdana';
    border:none;
    cursor: pointer;
}

#order-hr {
    height:3px;
    border:none;
    width:500px;
    margin:0 auto;
    background-color: black;
}

.total-price-order-list{
    display:flex;
    margin: 0 auto;
}
.total-price{
    padding:0 20
}

/* utility */
.hidden{
    display: none;
}

.modal {
    display: none;
    /*If set none or flex , it will disappear or appear*/
  }
.form-container{
    position: fixed;
    top:300;
    bottom:0;
    left:0;
    right:0;
    width:520px;
    height:500px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    box-shadow: 0px 0px 6px 2px #666;
    
}

.pay-title{
    font-family: Verdana;
    
}

.name-input , .card-input , .ccv-input , .submit-btn{

    font-family: Verdana;
    width:450px;
    height:65px ;
    padding-left:25px;
    font-size:20px;
    border-radius:5px;
    border:2px solid grey;
}

.submit-btn{
    padding:0px;
    font-family: Verdana;
    color: white;
    background-color: #16DB99;
    border:none;
    cursor: pointer;
}



.finish-payment{
    text-align: center;
    padding:15 0;
    margin-top:30px;
    margin-left:50px;
    margin-right:50px;
    background-color: #ECFDF5;
    color:#065F46;
    font-size:25px;
}